*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.hero-section{
    height: 669px;
    width: 100%;
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    display : flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}.hero-section h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
}.hero-section p {
    color: white;
    padding: 18px;
    margin: 0px 220px;
}.donate-button{
    text-decoration: none;
    color: white;
    background-color:#FF5959;
    padding: 10px;
    border-radius: 5px;
}.donate-now h1{
    margin-top: 130px;
    text-align: center;
    font-size: 50px;
    color: #ff5959;
}.donate-now p{
    color: gray;
    padding: 18px;
    margin: 20px 220px;
}.buttons{
    display: flex;
    margin-top: 43px;   
    align-items: center;
    justify-content: center;
}#hundread{
    text-decoration: none;
    background-color: white;
    border: 2px solid #FF5959;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 5px;
    color: #ff5959;
}#two-hundread{
    text-decoration: none;
    background-color: #ff8585;
    border: 2px solid #FF5959;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 5px;
    border-color: red;  
    color: #ffffff;
}.donate-plan h1{
    font-size: 50px;
    text-align: center;
    margin: 100px 0px 20px;
    color: #FF5959;
}.donate-plan p{
    align-items: center;
    justify-content: center;
    color: gray;
    padding: 18px;
    margin: 0px 220px;
}.donate-area{
    display: flex;
}.donate-area h4{
    justify-content: center;
    text-align: center;
    width: 100%;
}.donate-area p{
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}.donate-card{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 40px;
}#food{
    background-color: #ff8585;  
    padding: 10px;
    border-radius: 5px;
}
#food img{
    margin-top: 10px;
    margin-bottom: 10px;
}#shelter{
    border-radius: 5px;
    background-color: #ffcece;  
    padding: 10px;;
}
#shelter img{
    margin-top: 10px;
    margin-bottom: 10px;
}#edu{
    border-radius: 5px;
    background-color: #ff8585;  
    padding: 10px;;
}
#edu img{
    margin-top: 10px;
    margin-bottom: 10px;
}